<template>
    <div id="mainBody">
        <div id="mainhead">
        </div>
        <display-form/>
        <transaction/>
    </div>   
</template>

<script setup>

import DisplayForm from'./DisplayForm.vue'
import Transaction from './Transaction.vue'
    components:{
        DisplayForm,Transaction
    }
</script>
<style>
    #mainBody{
        position:relative;
        
        
        flex-grow: 2;
    }
    #mainhead{
        height:4rem;
        border-bottom: .2px solid rgb(218, 217, 217);
    }

</style>