<template>
    <div id="displayform">
        <div id="notify">
        <h5><i class="fa-solid fa-triangle-exclamation"></i>ожидают проверки!</h5>
         <small>3 договора. 2 новыз участника</small>
         <button>Проверить</button>
    </div>
    
    
    <h4> тип:Регистрация нового участника</h4>
    
    <h5>данные из налоговой 
     <small>Связанныеучастники  данные СБИС</small> </h5>   

    <small > 
        действующая организация
    </small>
    <h5>
         <!--{{name}}--> 
    </h5>
    <small>
        Полное наименование организации
    </small>
    <h5> <!--{{ orgOfficialName}}-->
        
    </h5>
    <div id="area">
        <div class="sect">
            <small>
                инн 
            </small>
            <h5>
                <!--{{3664069397}}--> 
            </h5>
        </div>
       
        <div class="sect">
             <small>
                    кпп
            </small>
            <h5>
            <!--{{ checkpoint}}--> 
             </h5>
        </div>
        <div class="sect">
            <small>
                огрн
            </small>
            <h5>
                <!--{{OGRN}}--> 
            </h5>
        </div>
        <div class="sect">
        <small>
            дата образования
        </small>
        <h5>
            <!--{{dateOfFormation}--> 
        </h5>
        </div>
         
    </div>
   
    <small>
            Юридический адрес
    </small>              
    <h5>
         <!--{{actualAddress}}-->
    </h5>
    <small >
            Факитчестий адрес
    </small>
    <h5>
         <!--{{actualAddress}}-->  
    </h5>
    <small>
            Основной вид деятельности
    </small> 
    <h5>
       <!--{{ mainActivitity}}--> 
    </h5> 
    <small >
            Руководитель
    </small>
    <h5>
       <!--{{Leader }}--> 
    </h5>

    <small>
        Дополнительные виды деятельности
    </small>
    <h5>
      <!--{{ moreActivites}-->  
    </h5> 
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, fuga eveniet deserunt delectus id perferendis quam ad, iste officia ipsum quas corrupti numquam ullam temporibus molestias aut tenetur aliquam labore! Lorem ipsum dolor sit amet consectetur, error magnam fuga possimus.</p>  
    </div>
    
    
      

</template>


<script>
    fetch('../main.json')
        .then(res=>res.json())
        .then(data=>{
            console.log(data);
        })
</script>

<style scoped>
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#displayform{
   
    padding:2rem;
   
    position:sticky;
}
#notify{
    display: flex;
    justify-content: space-between;
    background-color:#FFF3EA ;
    border-radius: 9px;
    padding: 7px 0px;
     align-items: baseline;
}
#notify :first-child{
    color: black;
}
#notify :nth-child(2){
    flex-grow: 2;
    padding: 0px 16px;  
}
small{
    color: #2c3e50;;
}
#notify button{
    padding: 7px 16px;
    background:rgb(45, 59, 135) ;
    border-radius: .7rem;
    color:#fff;
}
h5{
    padding: .5rem 0rem;
}
#area{
    display: flex;
    flex-wrap: wrap;
}
#area .sect{
    flex: 50%; 
}
   
</style>