<template>
    <div class="model">
      
    </div>
   
</template>

<style>
    .model {
       
        height: 100vh;
        width:5vw;
        padding: .8rem ;
        box-shadow: .5px 2px 8px grey;
    }

</style>