<template>
    <div id="sidebar">
        
     <div class="section"></div>
       <div class="section"></div>
       <div class="section"></div>
     
    </div>
</template>

<style>
   #sidebar{
    background-color: rgb(237, 237, 237);
    padding:1rem .5rem;
   }
   .section{
    height: 23vh;
    width:20vw;
   
    margin:1rem 0rem ;
    background-color: white;
    border-radius: 7px;
    box-shadow: .5px .75px 3px grey;
   }
</style>