<template>
    <div class="home">
        <p ref="p">my name is {{ name }} and my age is {{ age }}</p>

        <p>my name is {{ nijaone.name }} and my age id {{ nijaone.age }}</p>

        <button @click="handleClick">click me </button>
        <button @click="age++">add 1 to age</button>
        <!--when referencing you dont need to use the value eg. name.value because value is not valid here-->
        <input type="text" v-model="name">

        <button @click="updatenijaone"> change</button>
        <h2>reactive</h2>
        <p>{{ nijatwo.age }}---{{ nijatwo.name }}</p>

        <button @click="updateninjatwo">click me </button>
    </div>
</template>

<script>
import {ref,reactive} from 'vue'

export default{
    setup(){ 
        const nijaone =ref({name:'wecam' ,age:20})

        const nijatwo=reactive({name:'lessons', age:'15'})
        const updatenijaone=()=>{
            nijaone.value.age=40
           nijaone.value.name='Reneta'
        }

    //referencing an attribute in vue to change its value .   
    //updating values in composition API uses refs
    //console.log(this)
    //const p = ref(null)

    let name=ref('Arshly')
    let age=ref(30)

    const handleClick= () =>{
          //  console.log(p.value)
            //p.value.classList.add('test')
            //p.value.textContent='hello,ninjas'
            name.value='Fifi'
            age.value=30
        }
    const updateninjatwo=()=>{
        nijatwo.name='Brenda'
        nijatwo.age=70

    }
        return{name,age,handleClick,nijaone,updatenijaone,nijatwo,updateninjatwo}      
    }
}

</script>