<script setup>
import Header from './components/CenterBody.vue';
import MenuSide from './components/LeftSide.vue';
import SideBar from './components/RightSide.vue';


 
components:{
  Header,SideBar,MenuSide
}
</script>

<template>
    <div id="layout">
      <menu-side/>
      <Header/>
      <SideBar/>
     
    </div>  
</template>



<style >
*{
  padding: 0px;
  margin: 0px;
}
  #layout{
    display: flex;
    position:sticky;
  }

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

 
}
</style>
